<ion-header>
  <ion-toolbar>
    <ion-title>reg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
     <ion-card-content>
     <ion-item>
       <ion-label position="floating">First Name</ion-label>
       <ion-input type="text" [(ngModel)]="firstname" placeholder="Example : Will"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" placeholder="Example : Smith"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select [(ngModel)]="gender" (ionChange)="change()">
        <ion-select-option>Male</ion-select-option>
        <ion-select-option>Female</ion-select-option>
        <ion-select-option>Other</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" placeholder="+91xxxxxx"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password should be hard to guess!"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirm" placeholder="Password should be hard to guess!"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="submit()" [disabled]="firstname=='' || lastname=='' || password=='' || confirm=='' || phone=='' || gender==''"> Register</ion-button>
  </ion-card-content>
   </ion-card>
</ion-content>
